.env
env
venv
temp
tmp
__pycache__

*.pyc
*.sqlite
*.coverage
*.egg-info/
.DS_Store
env.sh
*.idea
bin/
lib/
lib64/
dist/
share/
pyvenv.cfg
.vscode/
*.crt
*.pem
*.json
orders/

*.ipynb
.ipynb_checkpoints/
