[Unit]
Description=Certifire Automatic Certificate Management Environment (ACME) Intermediate Server
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/certifire/certifire
ExecStart=/home/certifire/certifire/bin/certifire-manager runserver
Restart=always

[Install]
WantedBy=multi-user.target