boto3
cartola
click
cryptography
Flask
Flask-HTTPAuth
Flask-Script
Flask-SQLAlchemy
inflection
itsdangerous
Jinja2
MarkupSafe
psycopg2
PyJWT
requests
SQLAlchemy
Werkzeug
pylint-flask
pylint-flask-sqlalchemy